@define-color accent_color #16a085;
@define-color accent_bg_color #16a085;


.calendar .calendar-today {
    background-color: #16a085;
} 
 .calendar .calendar-day-base:focus {
      box-shadow: inset 0 0 0 2px rgba(22, 169, 133, 0.6); }
      
.slider {
	-slider-active-background-color: #16a085;
	-barlevel-active-background-color: #16a085;
	-barlevel-overdrive-color: #16a085;
}

.osd-window .level {
	-barlevel-active-background-color: #16a085;
}
